.fs-italic {
    font-style: italic;
}

.fs-bold {
    font-weight: bold;
}

.f-clr-100 {
    color: rgb(41, 40, 40);
    opacity: .9;
}

.uppercase {
    text-transform: uppercase;
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-300 {
    font-size: var(--fs-300);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}